.loaderContainer {
  display :flex ;
  position : absolute;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: transparent;
}

.loaderContainer img {
  display : inline-block ;
  margin : auto ;
  width : 100px;
}